Card {
  border: none
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left,
      rgba(7, 27, 82, 1) 0%,
      rgba(0, 128, 128, 1) 100%);
  text-align: center; */
}


/* .card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

} */

.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

.app-title {
  margin: 2rem 0 1rem 0;

  color: #f7d22d;
}

.search-box {
  border: black solid 0.1rem;
  padding: 0.4rem;
}

button {
  padding: 0.5rem;
  border: 0.1rem solid white;
  border-radius: 10px;
  background-color: rgb(221, 234, 236);


}

button:hover {

  border: none;
  border-radius: 10px;
  background-color: #f7d22d;
  transition: 1s ease-in-out;

}