.crd {
    border: none;
}

.overlay {
    padding: 5% 0 0;

    color: rgb(22, 31, 71);

}

.timer {
    width: 100%;
}

.button {
    margin-top: 1rem;
    font-size: 1.2rem;
}


@media (max-width: 800px) {
    .overlay {
        height: 6vh;
        padding-left: 1rem;

    }

    .overlay h1 {
        font-size: 0.7rem;
    }

    .overlay p {
        font-size: small;
    }

    .button {
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
        /* margin-top: 0.7rem; */
    }

    .overlay-img {
        height: 38vh;
    }
}

@media (max-width: 450px) {
    .overlay-img {
        height: 28vh;
    }

    .overlay {
        padding-top: 4rem;
    }
}