.crd {
    border: none;
}

.overlay {
    padding: 5% 0 0;

    color: rgb(22, 31, 71);

}

.timer {
    width: 100%;
}

/* .cardtext {
    
} */


@media only screen and (max-width: 800px) {
    .overlay {
        height: 5vh;

    }

    .overlay h1 {
        font-size: small;
    }

    .overlay p {
        font-size: small;
    }
}